# The path to all the non-boost libraries to include
include_path=../code/cpp/include/

# The path to where boost is installed
boost_path=${include_path}boost_1_90_0/

# Flags for the g++ compiler
compiler_flags=-std=c++20,-Wall,-Wpedantic,-Ofast,-march=native,-fdiagnostics-color=always

# Flags for boost, during compilation
boost_flags=-lboost_filesystem
