# The path to where boost is installed
boost_path=../external/boost_1_90_0/

# The path to all the non-boost libraries to include
include_path=../external/include/

# Flags for the g++ compiler
compiler_flags=-std=c++20,-Wall,-Wpedantic,-Ofast,-march=native,-fdiagnostics-color=always

# Flags for boost, during compilation
boost_flags=-lboost_filesystem

# The type of Python environment to use. One of "system", "conda", or "uv".
python_mode=uv